:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.enter-input{
  width:300px;
  height:40px;
  text-align:center;
  border-radius:10px;
  font-size:larger;
  border:none;
}
.add-button{
  width:50px;
  height:43px;
  border-radius:10px;
  border:none;
  margin-left:10px;
  background-color: rgb(220, 92, 92);
  color:black;
  cursor: pointer;
}
.second-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.task-div{
  width:400px;
  border-radius:15px;
  margin-top:30px;
}
.remove-button{
  height:25px;
  width:25px;
  margin-left:10px;
}
.list-elements{
  
}
